.container {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.btn {
  width: 70px;
  height: 70px;
  margin: 8px;
  background-color: #f3e7e7;
  color: black;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 400;
}


.btnContainer{
  /* margin-top: 8px; */
}

.result{
  height: 40px;
  width: 320px;
}

.output {
  opacity: 80%;
  margin: 8px;
  color: black;
  font-size: 30px;
  font-weight: 600;
}